
<body>
    <div>
        <h1>Page not found</h1>
        <div>
            <p>Uh-oh! We can't seem to find the page you're looking for.</p>

        </div>
    </div>
</body>


@*<div class="container bg-light">
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-outline-primary">Back to Ratings</button>
        </div>
</div>*@

<style>

    h1 {
        text-align: center;
        font-size: 3vw;
        color: blue;
    }

    p {
        text-align: center;
        font-size: 2vw;
        margin-top: 15px;
    }

    button {
        text-align: center;
    }

</style>
