
@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/RatingsEdit.css">

<h2>Edit Rating</h2>

<hr />
<div class="d-flex justify-content-center">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only"></span>
    </div>
</div>
<form id="ratingEditForm">
    <div class="form-group">
        <label for="rating" class="col-form-label"><b>Rating:</b></label>
        <input type="text" class="form-control" id="ratingEdit" name="ratingEdit" />
        <div>
            <button type="button" class="btn btn-primary mt-3" onclick="onEditRating()">Save Changes</button>
            <button type="button" class="btn btn-outline-primary mt-3" onclick="window.location.href='/Ratings'">Back to Ratings</button>
        </div>
    </div>
</form>

<!--Modal-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modalContent">
            @* <div class="modal-header">
            <h2 class="modal-title fs-5" id="editModalLabel">Edit Successful</h2>
            </div>*@
            <div class="modal-body">
                <p>Your edit was successful.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="onEditAgain()">Edit Again</button>
                <button type="button" class="btn btn-danger" onclick="onBack()">Back to Ratings</button>
            </div>
        </div>
    </div>
</div>
<!--End of Modal-->

<script>
    window.ratingEditObj = {
        ratingId: @Model
        }
</script>


<script type="text/javascript" src="~/js/RatingsEdit.js" asp-append-version="true"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
