@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<link rel="stylesheet" href="~/css/RatingsIndex.css">


<h2>Rating Information</h2>
<div>
    <p>
        <button type="button" class="btn btn-primary" onclick="ratings.onOpenCreate()" data-toggle="modal" data-target="#addRatingModal">Add New Rating</button>
    </p>
    <!--Modal-->
    <div class="modal fade" id="addRatingModal" tabindex="-1" role="dialog" aria-labelledby="addRatingModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addRatingModalLabel">Add Rating</h5>
                </div>
                <div class="modal-body">
                    <form id="ratingCreateForm">
                        <div class="form-group">
                            <label for="rating" class="col-form-label">Rating:</label>
                            <input type="text" class="form-control" id="ratingInput" name="ratingInput">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" onclick="ratings.onCloseCreate()" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-primary" onclick="ratings.onAddRating()">Save Rating</button>
                </div>
            </div>
        </div>
    </div>
    <!--End of Modal-->
</div>
<div id="alerts"></div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Rating
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="ratingTable">
    </tbody>
</table>
<div class="d-flex justify-content-center">
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only"></span>
    </div>
</div>
<!--Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modalContent">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="deleteModalLabel">Delete?</h2>
            </div>
            <div class="modal-body">
                <p>Are you sure you would like to delete this rating?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" onclick="ratings.onCloseModal()">Cancel</button>
                <button type="button" class="btn btn-outline-primary" onclick="ratings.onDeleteRating()">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!--End of Modal-->

<script src="~/js/RatingsIndex.js"></script> 

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    